@font-face {
  font-family: pearl;
  src: url('../fonts/FOT-Pearl\ Std\ L.woff');
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  // cursor: url('../cursor/normal.cur'), auto;
}
a{
  cursor: pointer;
}
#__nuxt {
  @apply flex flex-col items-center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}